<!-- Categ Items Template -->
<h2 id="menu-categs-title" class="text-center">Lunch Menu</h2>
<div class="text-center">Lunch not served till 1pm.</div>

<section class="row">
  <div class="menu-item-tile col-md-6">
    <div class="row">
      <div class="col-sm-5">
        <div class="menu-item-photo">
          <div>D01</div>
          <img class="img-responsive" width="250" height="150" src="img/menu/B/B-1.jpg" alt="Item" />
        </div>
        <div class="menu-item-price">10.95<span> (pint)</span> 14.95 <span>(quart)</span></div>
      </div>
      <div class="menu-item-description col-sm-7">
        <h3 class="menu-item-title">Veal with mixed vegetables</h3>
        <p class="menu-item-details">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquam odio sit amet felis sodales gravida. Curabitur aliquet auctor risus, nec iaculis leo sodales sed. Vestibulum turpis mi, pretium ac nibh non, aliquam viverra ligula. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquam odio sit amet felis sodales gravida. Curabitur aliquet auctor risus, nec iaculis leo sodales sed. Vestibulum turpis mi, pretium ac nibh non, aliquam viverra ligula.
        </p>
      </div>
    </div>
    <hr class="visible-xs">
  </div>

  <div class="menu-item-tile col-md-6">
    <div class="row">
      <div class="col-sm-5">
        <div class="menu-item-photo">
          <div>D02</div>
          <img class="img-responsive" width="250" height="150" src="img/menu/B/B-1.jpg" alt="Item" />
        </div>
        <div class="menu-item-price">
          €10.95 <span>(pint)</span> €14.95 <span>(quart)</span>
        </div>
      </div>
      <div class="menu-item-description col-sm-7">
        <h3 class="menu-item-title">Veal with mixed vegetables</h3>
        <p class="menu-item-details">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquam odio sit amet felis sodales gravida. Curabitur aliquet auctor risus, nec iaculis leo sodales sed. Vestibulum turpis mi, pretium ac nibh non, aliquam viverra ligula.
        </p>
      </div>
    </div>
    <hr class="visible-xs">
  </div>

  <div class="clearfix visible-md-block visible-lg-block"></div>

  <div class="menu-item-tile col-md-6">
    <div class="row">
      <div class="col-sm-5">
        <div class="menu-item-photo">
          <div>D03</div>
          <img class="img-responsive" width="250" height="150" src="img/menu/B/B-1.jpg" alt="Item" />
        </div>
        <div class="menu-item-price">
          €10.95 <span>(pint)</span> €14.95 <span>(quart)</span>
        </div>
      </div>
      <div class="menu-item-description col-sm-7">
        <h3 class="menu-item-title">Veal with mixed vegetables</h3>
        <p class="menu-item-details">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquam odio sit amet felis sodales gravida. Curabitur aliquet auctor risus, nec iaculis leo sodales sed. Vestibulum turpis mi, pretium ac nibh non, aliquam viverra ligula.
        </p>
      </div>
    </div>
    <hr class="visible-xs">
  </div>

  <div class="menu-item-tile col-md-6">
    <div class="row">
      <div class="col-sm-5">
        <div class="menu-item-photo">
          <div>D04</div>
          <img class="img-responsive" width="250" height="150" src="img/menu/B/B-1.jpg" alt="Item" />
        </div>
        <div class="menu-item-price">
          €10.95 <span>(pint)</span> €14.95 <span>(quart)</span>
        </div>
      </div>
      <div class="menu-item-description col-sm-7">
        <h3 class="menu-item-title">Veal with mixed vegetables</h3>
        <p class="menu-item-details">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquam odio sit amet felis sodales gravida. Curabitur aliquet auctor risus, nec iaculis leo sodales sed. Vestibulum turpis mi, pretium ac nibh non, aliquam viverra ligula.
        </p>
      </div>
    </div>
    <hr class="visible-xs">
  </div>

  <div class="clearfix visible-md-block visible-lg-block"></div>

  <div class="menu-item-tile col-md-6">
    <div class="row">
      <div class="col-sm-5">
        <div class="menu-item-photo">
          <div>D05</div>
          <img class="img-responsive" width="250" height="150" src="img/menu/B/B-1.jpg" alt="Item" />
        </div>
        <div class="menu-item-price">
          €10.95 <span>(pint)</span> €14.95 <span>(quart)</span>
        </div>
      </div>
      <div class="menu-item-description col-sm-7">
        <h3 class="menu-item-title">Veal with mixed vegetables</h3>
        <p class="menu-item-details">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquam odio sit amet felis sodales gravida. Curabitur aliquet auctor risus, nec iaculis leo sodales sed. Vestibulum turpis mi, pretium ac nibh non, aliquam viverra ligula.
        </p>
      </div>
    </div>
    <hr class="visible-xs">
  </div>

  <div class="menu-item-tile col-md-6">
    <div class="row">
      <div class="col-sm-5">
        <div class="menu-item-photo">
          <div>D06</div>
          <img class="img-responsive" width="250" height="150" src="img/menu/B/B-1.jpg" alt="Item" />
        </div>
        <div class="menu-item-price">
          €10.95 <span>(pint)</span> €14.95 <span>(quart)</span>
        </div>
      </div>
      <div class="menu-item-description col-sm-7">
        <h3 class="menu-item-title">Veal with mixed vegetables</h3>
        <p class="menu-item-details">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquam odio sit amet felis sodales gravida. Curabitur aliquet auctor risus, nec iaculis leo sodales sed. Vestibulum turpis mi, pretium ac nibh non, aliquam viverra ligula.
        </p>
      </div>
    </div>
    <hr class="visible-xs">
  </div>

  <div class="clearfix visible-md-block visible-lg-block"></div>

</section><!-- End of Categ Items Template -->
